/* Reset default browser styles */
@import "abstracts/colors";
@import "abstracts/typography";
@import "abstracts/mixins";
@import "components/features";
@import "components/usage-example";
@import "components/profile";

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: $c-neutral-100;
  overflow: hidden;
}

//===============================================
//screen

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 52px 12px;
  @media screen and (max-width: 1200px) {
    padding: 32px 12px;
  }
}

//==================================================
//button

.btn {
  &.blue {
    @include button($c-blue-dark, $c-blue-light, $c-neutral-100);
    font-size: 22px;
    color: $c-neutral-070;
    line-height: 28px;
    @media screen and (max-width: 1200px) {
      width: 364px;
      height: 60px;
      font-weight: 500;
    }
  }
  &.pink {
    @include button($c-tertiary-040, $c-tertiary-050, $c-neutral-100);
    font-size: 22px;
    color: $c-tertiary-099;
    line-height: 28px;
    @media screen and (max-width: 1200px) {
      width: 364px;
      height: 60px;
      font-weight: 500;
    }
  }
  &.yellow-dark {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 auto;
    @include button($c-secondary-030, $c-secondary-040, $c-neutral-100);
  }
  &.yellow-light {
    font-size: 32px;
    font-weight: 700;
    margin: 2rem auto;
    @include button($c-primary-040, $c-primary-080, $c-secondary-010);
  }
}

.download__btn {
  @include download_button;
}

//==============================================================================
// header

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.nav__title {
  padding: 1rem;
  img {
    width: auto;
    height: 153px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 1rem;
    img {
      height: 82px;
    }
  }
}

//=====================================================
/* downlaod section google/app store */

.section__download {
  h4 {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }
  .app-download__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
  }
  .google__btn {
    img {
      height: 104px;
      width: 268px;
    }
  }
  .app-store__btn {
    img {
      height: 76px;
      width: 214px;
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 2rem 1rem;
    .app-download__btn {
      gap: 27px;
    }
    h4 {
      font-size: 16px; //to organized code
      margin-bottom: -1rem;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;
    }
    .google__btn {
      img {
        height: 52px;
        width: 134px;
      }
    }
    .app-store__btn {
      img {
        height: 38px;
        width: 107px;
      }
    }
  }
}

/*==================================================================================*/
/*cover section*/

.kv {
  // min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0 0 2rem;
  &::before {
    @include bg-deco(900px, 120vw, $c-primary-050);
    top: -960px;
    @media screen and (max-width: 1200px) {
      top: -900px;
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: -3rem 1.8rem;
    grid-gap: 24px;
  }
  .hero__content {
    span {
      color: $c-secondary-010;
    }
    h1 {
      font-size: 57px;
      line-height: 64px;
      letter-spacing: -0.25px;
    }
  }
  .hero__visual {
    color: transparent;
    width: 100%;
    img {
      width: 658px;
      height: 639px;
    }
  }
  .section__download {
    margin-top: 3rem;
  }
  @media screen and (max-width: 1200px) {
    padding: 50px 0 0;
    .hero {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .hero__content {
      grid-row: 2;
      padding: 0 1rem;
      h1 {
        font-size: 36px;
      }
      span {
        font-weight: 700;
      }
    }
    .hero__visual {
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 364px;
        width: 364px;
      }
    }
  }
}

/*==================================================================================*/
/*main content section*/
/*==================================================================================*/
.maincont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  position: relative;
  &::before {
    @include bg-deco(700px, 120vw, $c-secondary-099);
    @media screen and (max-width: 1200px) {
      height: 950px;
    }
  }
  @media screen and (max-width: 1200px) {
    h1 {
      text-align: start;
      margin: 0 auto;
      padding: 0 4rem;
    }
  }
  .maincont__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 3rem 1rem;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      margin: 2rem 2rem 1rem;
    }
    .card {
      display: grid;
      grid-template-rows: 0.8fr 2fr auto;
      justify-items: center;
      .card__sp-text {
        display: none;
      }
      .card__img-wrapper {
        margin: 2rem 0;
        img {
          height: 244px;
          width: auto;
        }
      }
      @media screen and (max-width: 1200px) {
        grid-template-rows: 0.5fr 1fr 0.2fr;
        .card__pc-text {
          display: none;
        }
        .card__sp-text {
          display: flex;
          flex-direction: column;
          text-align: justify;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
        span {
          font-size: 16px;
          font-weight: 700;
        }
        .card__img-wrapper {
          margin: 1.5rem;
          img {
            height: 165px;
          }
        }
      }
    }
  }
}
/*==================================================================================*/
/* features section */
/*==================================================================================*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
  &::before {
    top: 75px;
    @include bg-deco(111px, 120vw, $c-primary-060);
    @media screen and (max-width: 1200px) {
      top: 55px;
      height: 57px;
    }
  }
  &::after {
    top: 1140px;
    @include bg-deco(111px, 120vw, $c-primary-060);
    @media screen and (max-width: 1200px) {
      top: 1570px;
      height: 57px;
    }
  }
  .features__grid-wrapper {
    margin-bottom: 2rem;
  }

  .btn {
    margin-bottom: 2rem;
  }

  .features__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 1rem 0;
    h4 {
      padding: 20px 0;
      color: $c-secondary-030;
    }
    .features__card {
      display: grid;
      grid-template-rows: 0.3fr 0.5fr 0.2fr;
      justify-items: center;
      border: 1px solid $c-secondary-030;
      border-radius: 16px;
      background-color: $c-neutral-100;
      height: 100%;
      padding: 1rem;
      h4 {
        color: $c-secondary-030;
      }
      img {
        width: auto;
        height: 244px;
      }
      p {
        padding: 20px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    h1 {
      text-align: start;
      padding: 0.5rem;
    }
    .btn {
      margin-bottom: 0;
    }
    .features__grid-wrapper {
      margin: 0 0.8rem;
    }
    .features__grid {
      grid-template-columns: 1fr;
      margin: 0 auto;

      .features__card {
        padding: 0;
        grid-template-rows: 0.2fr 0.5fr 0.3fr;
        img {
          height: 165px;
          width: 100%;
        }
        p {
          padding: 0 24px 32px;
        }
      }
    }
  }
}

/*==================================================================================*/
/* point section */

.point {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  &::before {
    @include bg-deco(1000px, 120vw, $c-secondary-099);
    @media screen and (max-width: 1200px) {
      height: 1080px;
      top: 130px;
    }
  }

  .point__top-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    margin-right: 6rem;
  }
  .point__bottom-grid {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
  .point__text {
    padding: 4.5rem;
    h4 {
      color: $c-tertiary-000;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .point__visual {
    img {
      width: 584px;
      height: 446px;
    }
  }

  @media screen and (max-width: 1200px) {
    h1 {
      text-align: start;
      padding: 0.5rem;
    }
    .point__top-grid {
      flex-direction: column;
      justify-content: center;
      padding: 2rem 0;
      margin: 0 auto;
      .point__text {
        padding: 1rem 2rem;
        order: 2;
        h4 {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
    .point__bottom-grid {
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 0 1rem 0;
      margin: 0 auto;
    }
    .point__text {
      padding: 1rem 2rem;
      h4 {
        font-size: 24px;
      }
    }
    .point__visual {
      img {
        width: 100%;
        height: 347px;
        padding: 0 1rem;
      }
    }
  }
}

/*==================================================================================*/
/* blog section */

.blog {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 24px;
  }
  .blog__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px 32px;
    margin: 15px;
    gap: 10px;
    background: $c-neutral-100;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    span {
      width: 75px;
      height: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: $c-neutral-010;
    }

    p {
      width: 194px;
      height: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: $c-neutral-010;
    }
  }
  @media screen and (max-width: 1200px) {
    h1 {
      margin-bottom: 12px;
    }
    .blog__card {
      padding: 1rem auto;
    }
  }
}

/*==================================================================================*/
/* info section */

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  &::before {
    top: 170px;
    @include bg-deco(111px, 120vw, $c-primary-060);
    @media screen and (max-width: 1200px) {
      top: 100px;
      height: 150px;
      width: 150%;
    }
  }

  .info__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  img {
    height: 160px;
    width: 444px;
    margin-bottom: 1rem;
  }
  p {
    padding: 2rem 8rem;
  }
  @media screen and (max-width: 1200px) {
    p {
      padding: 8px;
    }
    img {
      height: 77px;
      width: 212px;
    }
  }
}

/*==================================================================================*/
/* footer for all pages*/

footer {
  background-color: $c-primary-000;
  color: $c-neutral-099;
  z-index: -1;
  .footer__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem 6rem;
  }
  .footer__right {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 12rem;
    row-gap: 1rem;
  }

  .footer__left {
    align-items: flex-start;
    img {
      height: 87px;
      width: auto;
      margin-bottom: 1.5rem;
    }
    p {
      color: $c-neutral-099;
      font-weight: 500;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .footer__content {
      grid-template-columns: 1fr;
      padding: 2rem;
    }
    .footer__left {
      margin: 0 auto;
      img {
        height: 51px;
      }
    }
    .footer__right {
      margin: 0;
      grid-template-columns: 1fr;
    }
  }
}
