.blog__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 128px;
    padding: 64px 0 128px;
    &::before {
      @include bg-deco(600px, 120vw, $c-primary-050);
      top: -500px;
      @media screen and (max-width: 1200px) {
        top: -610px;
      }
      @media screen and (max-width: 768px) {
        top: -645px;
      }
    }
    .blog__card {
        align-items: center;
        
    }
}