body {
  color: $c-neutral-020;
}

.page__title {
  h1 {
    font-size: 45px;
    font-weight: 700;
    color: $c-neutral-010;
    text-align: center;
    line-height: 52px;
}
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 40px;
  }
  }
}

.profile__kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 76px 0 64px;
  &::before {
    @include bg-deco(600px, 120vw, $c-primary-050);
    top: -800px;
    @media screen and (max-width: 1200px) {
      top: -610px;
    }
    @media screen and (max-width: 768px) {
      top: -645px;
    }
  }
  .profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.15px;
      color: $c-neutral-020;
    }
  }
  .logo {
    margin-bottom: 1rem;
    img {
      height: 150px;
      width: auto;
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 0 77px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 32px;
    .logo {
      img {
        height: 90px;
        width: auto;
      }
    }
  }
}

.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  padding: 64px 0;
  position: relative;
  h4 {
    color: $c-neutral-010;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 0 32px;
    position: relative;
    &::before {
      top: -55px;
      @include bg-deco(111px, 120vw, $c-primary-060);
      @media screen and (max-width: 1200px) {
        top: -15px;
        height: 57px;
      }
    }
  }

  .business-diagram {
    width: 100%;
    .diagram__sp {
      display: none;
    }
  }

  .teams {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 0;
    gap: 32px;
    ul,
    li {
      color: $c-neutral-010;
      list-style: disc;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      font-weight: 400;
    }
    .teambox {
      border: 1px solid $c-secondary-030;
      overflow: hidden;
      flex: 1 1 auto;
      .teamname {
        margin: 0;
        padding: 0.5rem;
        background-color: $c-primary-060;
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
      }
      .inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 48px;
        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          width: 100px;
          .dev__img {
            height: 50px;
          }
          .cc__img {
            height: 87.5px;
            width: auto;
          }
        }
      }
      .note {
        padding-bottom: 1rem;
        line-height: 20px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.25px;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 64px 77px;
    .business-diagram {
      .diagram__pc {
        display: none;
      }
      .diagram__sp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 584px;
        width: auto;
      }
    }
    .teams {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 64px 0;
    gap: 32px;
    h4 {
      font-size: 28px;
      line-height: 36px;
      padding: 0 32px;
    }
    .business-diagram {
      .diagram__sp {
        height: 304px;
        width: 364px;
      }
    }
    .teams {
      padding: 0 32px;
        .inner {
          flex-direction: column;
          gap: 8px;
          .image {
            width: 70px;
            height: 70px;
            .dev__img {
              height: 35px;
            }
            .cc__img {
              height: 61px;
              width: auto;
            }
          }
        }
        .note {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
        }
      }
    }
}

.enclose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $c-secondary-030;
  margin: 64px auto 128px;
  padding: 32px;
  dl {
    dt {
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
    dd {
      color: $c-neutral-020;
      font-size: 16px;
      + dt {
        margin-top: 1rem;
      }
      span {
        background-color: $c-secondary-030;
        height: 22px;
        width: 80px;
        border-radius: 11px;
        &:hover {
          background-color: $c-secondary-040;
        }
        a {
          padding: 1rem 1.5rem;
          color: $c-neutral-100;
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          letter-spacing: 0.15px;
        }
      }
      ul {
        margin: 0;
      }
      li {
        list-style-type: disc;
        font-size: 16px;
        margin: 0 0 0.5rem 2rem;
        color: $c-neutral-020;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 64px 77px 128px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 32px 64px;
    padding: 16px;
    dl {
      dt {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 0;
      }
      dd {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        margin-bottom: 1rem;
        + dt {
          margin-top: 0.2rem;
        }
        span {
          height: 16px;
          width: 52px;
          align-items: center;
          a {
            padding: 0.5rem 1rem;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
          }
        }
        li {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
        }
      }
    }
  }
}
