//============================================================
/* step header title */
.num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -1.5rem 0 0.5rem 2rem;
}
.num__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.step {
  font-size: 13px;
  line-height: 1;
}
.figure {
  font-size: 60px;
  line-height: 1;
  margin-top: -9px;
}
.title {
  font-size: 22px;
}

//=======================================================================
/*example case */

.example__case {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-secondary-095;
    height: 240px;
    width: 240px;
    margin-bottom: 2rem;
    border-radius: 100%;
    &.last-child {
      margin-bottom: 0;
    }
    &.right {
      align-self: flex-end;
    }
    &.left {
      align-self: flex-start;
    }
    p {
      margin: 0;
      text-align: center;
      padding: 0 40px;
    }
    .roll {
      font-size: 0.875rem;
      font-weight: 700;
    }
    .image {
      font-size: 0.875rem;
      img {
        margin: 0;
        height: auto;
        width: 100%;
        object-fit: contain;
      }
    }
    .action {
      font-size: 0.875rem;
      z-index: 10;
    }
  }
}

//====================================================================
/* example link */
.example__link {
  p {
    margin: 0.875rem 0;
  }
}
