@import "../abstracts/mixins";

.example__title {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 45px;
    padding-bottom: 0;
    color: $c-neutral-020;
  }
  span {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
  }
  &::before {
    @include bg-deco(500px, 120vw, $c-primary-050);
    top: -550px;
    @media screen and (max-width: 1200px) {
      top: -380px;
    }
    @media screen and (max-width: 613px) {
      top: -410px;
    }
  }
  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 45px;
      padding-bottom: 4rem;
      color: $c-neutral-020;
    }
    span {
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
    }
  }
  @media screen and (max-width: 613px) {
    padding-bottom: 32px;
    h1 {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 0;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

.case__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  @media screen and (max-width: 613px) {
    padding: 0;
    gap: 0;
    flex-direction: column;
    .case {
      &.left {
        align-self: flex-start;
      }
      &.right {
        align-self: flex-end;
      }
    }
  }
}

.step__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 76px 0;
  gap: 64px;
  &#step2 {
    .example__case {
      gap: 128px;
    }
  }

  &#step3 {
    .example__case {
      gap: 128px;
      .case__wrapper {
        gap: 128px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 76px 32px;
    &#step1 {
      .example__case {
        flex-direction: column;
        gap: 64px;
      }
    }
    &#step2 {
      .example__case {
        gap: 16px;
      }
    }
    &#step3 {
      .example__case {
        gap: 16px;
        .case__wrapper {
          gap: 16px;
        }
      }
    }
  }

  @media screen and (max-width: 896px) {
    &#step3 {
      .example__case {
        flex-direction: column;
        gap: 64px;
      }
    }
  }

  @media screen and (max-width: 613px) {
    gap: 32px;
    padding: 32px;
    &#step1,
    &#step2,
    &#step3 {
      .example__case {
        gap: 0;
        .case {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: $c-secondary-095;
          height: 240px;
          width: 240px;
          margin-bottom: -1rem;
          border-radius: 100%;
          &.last-child {
            margin-bottom: 0;
          }
          &.right {
            align-self: flex-end;
          }
          &.left {
            align-self: flex-start;
          }
          p {
            margin: 0;
            text-align: center;
            padding: 0 40px;
          }
          .roll {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
          }
          .image {
            font-size: 0.875rem;
            img {
              margin: 0;
              height: 100px;
              width: auto;
              object-fit: contain;
            }
          }
          .action {
            font-size: 0.875rem;
            z-index: 10;
          }
        }
      }
    }
  }
}

.step-wrapper__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 11.5rem;
  text-align: start;
  @media screen and (max-width: 1200px) {
    padding: 0 77px;
  }
  @media screen and (max-width: 613px) {
    padding: 0 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
.ex__title-left {
  @include features__deco();
  margin-bottom: 0;
  &::before {
    border-radius: 0px 10px 10px 0px;
    height: 79px;
    right: 0;
    @media screen and (max-width: 613px) {
      height: 46px;
    }
  }
}
.ex__title-right {
  @include features__deco();
  margin-bottom: 0;
  &::before {
    border-radius: 10px 0 0 10px;
    height: 79px;
    left: 0;
    @media screen and (max-width: 613px) {
      height: 46px;
    }
  }
}

//============================================================
/* step header title */

.num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  .num__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: -4.5rem 0 0.5rem 2rem;
  }
  .step {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.15px;
    margin-bottom: 0.5rem;
  }
  .figure {
    font-size: 90px;
    font-weight: 700;
    line-height: 70px;
  }
  .title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  @media screen and (max-width: 1200px) {
    .num {
      margin: -1.5rem 0 0.5rem 2rem;
    }
    .num__inner {
      flex-wrap: nowrap;
      margin: -5rem 0 0 0;
    }
  }
  @media screen and (max-width: 613px) {
    .step {
      font-size: 12px;
      letter-spacing: 0.4px;
      margin-bottom: -1rem;
    }
    .num__inner {
      margin: -2.2rem 0 0 0;
    }
    .figure {
      font-size: 60px;
      line-height: 86.88px;
    }
    .title {
      font-size: 22px;
    }
  }
  
}

//=======================================================================
/*example case */
.example__case {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  .case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-secondary-095;
    height: 288px;
    width: 288px;
    margin-bottom: 1rem;
    border-radius: 100%;
    .roll {
      font-size: 22px;
      font-style: 700;
      line-height: 28px;
    }
    .image {
      margin: 0.5rem 0;
      img {
        height: 150px;
        width: auto;
      }
    }
    .action {
      padding: 0 2.7rem;
      text-align: center;
    }
  }
  @media screen and (max-width: 613px) {
    padding: 32px 0;
    margin: 0 -32px;
    flex-direction: column;
    .case {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $c-secondary-095;
      height: 240px;
      width: 240px;
      margin-bottom: 2rem;
      border-radius: 100%;
      &.last-child {
        margin-bottom: 0;
      }
      &.right {
        align-self: flex-end;
      }
      &.left {
        align-self: flex-start;
      }
      p {
        margin: 0;
        text-align: center;
        padding: 0 40px;
      }
      .roll {
        font-size: 0.875rem;
        font-weight: 700;
      }
      .image {
        font-size: 0.875rem;
        img {
          margin: 0;
          height: 100px;
          width: auto;
          object-fit: contain;
        }
      }
      .action {
        font-size: 0.875rem;
        z-index: 10;
      }
    }
  }
}

//====================================================================
/* example link */
.example__link {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 568px;
  gap: 1rem;
  .case__relation-link {
    a {
      height: 48px;
      font-size: 24px;
      padding: 8px 16px;
      line-height: 32px;
      &::before {
        top: 0.9rem;
      }
    }
  }
  h4 {
    color: $c-neutral-020;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
  }
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
  @media screen and (max-width: 613px) {
    width: 364px;
      padding: 0;
      h4 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
      }
      p {
        margin: 0;
      }
      .case__relation-link {
        a {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        height: 40px;
        &::before {
          top: 0.7rem;
        }
        }

      }
  }
}

