

/* button in top page */
@mixin button($bg-color, $hover-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 568px;
    height: 84px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      background-color: $hover-color;
    }
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      width: 250px;
      height: 50px;
    }
  }

//=============================================
/* app download button in top page */

@mixin download_button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
    background-color: $c-secondary-090;
    color: #333538;
    width: 568px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    &::before {
      display: block;
      position: absolute;
      content: "";
      left: 74%;
      top: 23%;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("/images/download.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @media screen and (max-width: 1000px) {
        width: 0.875rem;
        height: 0.875rem;
        top: 33%;
        left: 78%;
      }
    }
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      width: 80%;
      height: 40px;
    }
}

//======================================================
/* background decoration in top page */

@mixin bg-deco ($height, $width, $bg-color) {
  content: "";
  display: block;
  position: absolute;
  overflow-x: hidden;
  width: $width;
  height: $height;
  background-color: $bg-color;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  @media screen and (max-width: 1000px) {
    width: 200%;
    margin: 3% -10% 0 -35%;
  }
}

//==========================================================
/* step header background in features/functions page */

@mixin features__deco {
  margin-bottom: 3rem;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $c-primary-060;
      height: 60px;
      width: 112%;
      justify-content: center;
      align-items: center;
      z-index: -1;
      @media screen and (max-width: 1000px) {
        width: 110%;
      }
  }
  @media screen and (max-width: 1000px) {
    font-size: 24px;
  }
}

